<% if slide = local_assigns[:slide] || @slide -%>
  <% if slide.link.present? -%><a href="<%= slide.link %>"><% end -%>
    <% if local_assigns[:geometry].present? -%>
      <%= image_fu(slide.image, local_assigns[:geometry], :alt => slide.title, :title => slide.title) -%>
    <% else -%>
      <%= image_tag(slide.image.url, :alt => slide.title, :title => slide.title) -%>
    <% end -%>
  <% if slide.link.present? -%></a><% end -%>
<% end -%>
